<!DOCTYPE HTML>
<html>
    <head>
        <title><%= titulo%></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    </head>
    <body class="index is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <h1 id="logo"><a><h1>Prueba de Programacion</h1></a></h1>
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="/">Pagina Principal</a></li>
                        <li class="submenu">
                            <a href="#">Menu Del Programa</a>
                            <ul>
                                <li><a href="/cliente">Ingreso de Clientes</a></li>
                                <li><a href="/factura">Facturacion y Reportes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <!-- Banner -->
            <section id="banner">
                <div style=" margin: 3rem; padding: 3rem;  border: 2px solid #ccc;text-align: center;">

                    <%- include(fragmento)%>

                </div>

            </section>

        </div>

        <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.dropotron.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>