
<div>
    <div>
        <form method="POST" action="/cliente/guardar">
            <input type="hidden" value="0" id="external" name="external">
            
            <div class="form-group">
                <h2>INGRESE LOS DATOS DEL CLIENTE</h2>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input name="nombre" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label >Apellido</label>
                <input name="apellido" id="apellido" placeholder="Apellido">
            </div>
            <div>
                <label >Cedula</label>
                <input  name="cedula" placeholder="Cedula" id="cedula">
            </div>
            <div>
                <label>Direccion</label>
                <textarea id="direccion" name="direccion"  placeholder="Direccion"></textarea>
            </div>
                <br>
            <div>
                <button type="submit" class="form-control">Guardar</button>
            </div>
        </form>
    </div>
    <div>

        <table class="table table-striped table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Direccion</th>
                    <th scope="
                        
                        
                        col">Aciones</th>
                </tr>
            </thead>
    </div>
    <div>
            <tbody>
                <% cliente.forEach(function(cliente, i) { %>
                <tr>
                    <td><%= (i+1) %></td>
                    <td><%= cliente.nombre %></td>
                    <td><%= cliente.apellido %></td>
                    <td><%= cliente.cedula %></td>
                    <td><%= cliente.direccion %></td>
                    <td>                       
                        <a href="#" id="cliente<%= i%>" class="btn btn-secondary" >Editar</a>                        
                    </td>
                </tr>
            <script>
                $('#cliente<%= i%>').click(function () {
                    $('#external').val('<%= cliente.external_id%>');
                    $('#nombre').val('<%= cliente.nombre%>');
                    $('#apellido').val('<%= cliente.apellido%>');
                    $('#cedula').val('<%= cliente.cedula%>');
                    $('#direccion').val('<%= cliente.direccion%>');
                });
            </script>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

