
<div>
    <div>
        <form method="POST" action="/factura/guardar">
            <input type="hidden" value="0" id="external" name="external">
            <div class="form-group">
                <h2>REGISTRO DE FACTURA</h2>
            </div>
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" name="fecha" id="fecha" >
            </div>
            <div class="form-group">
                <label >Cliente</label>
                <select id="cliente" name="cliente" class="form-control" ></select>
            </div>
            <div class="form-group">
                <label >Clasificacion de gastos</label>
                <select id="clas" name="clas" class="form-control"></select>
            </div>
            <div class="form-group">
                <label >Precio</label>
                <textarea class="form-control"  id="precio" name="precio"></textarea>
            </div>
            <div class="form-group">
                <div>
                    <div class="form-group">
                        <button type="submit">Guardar</button>
                    </div>
                    <div class="form-group">
                        <a id="cancelar" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-1">BUSCAR</div>
            <div class="col-sm-3">
                <input type="date" id="buscar" class="form-control">
            </div>
        </div>
        <table class="table table-striped table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Clasificaion</th>
                    <th scope="col">precio</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarClasificacion();
        cargarcliente();
        cargarFactura();
        $('#buscar').change(function () {
            var fecha = $('#buscar').val();
            if (fecha !== '') {
                console.log('buscar ' + fecha);
                buscarPorfecha(fecha);
            } else {
                cargarFactura();
            }
        });
        $('#cancelar').click(function () {
            $("#external").val("0");
            $("#fecha").val("");
            cargarClasificacion();
            cargarcliente();
            $("#precio").val("");
        });
    });
    function buscarPorfecha(fecha) {
        $.ajax({
            url: '/factura_buscar/' + fecha,
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                cargarTabla(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }
    function cargarClasificacion() {
        $.ajax({
            url: '/clasificacion',
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                var html = "";
                $.each(data.clasificacion, function (i, item) {
                    html += '<option value="' + item + '">' + item + '</option>';
                });
                $("#clas").html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }
    function cargarFactura() {
        $.ajax({
            url: '/lista_factura',
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                cargarTabla(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }
    function cargarFacturaCliente(external) {
        $.ajax({
            url: '/factura_cliente/' + external,
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                var html = "";
                var precioTotal = 0;
                $.each(data, function (i, item) {
                    html += '<tr>';
                    html += '<td>' + (i + 1) + '</td>';
                    html += ' <td>' + item.fecha + '</td>';
                    html += '<td>' + item.cliente.nombre + ' ' + item.cliente.apellido + '</td>';
                    html += '<td>' + item.clasificacion + '</td>';
                    html += '<td>$ ' + item.precio + '</td>';
                    html += '<td><a href="#" id="' + i + '" class="btn btn-primary" >Editar</a> </td>';
                    html += '<script>';
                    html += '$("#' + i + '").click(function () {';
                    html += '$("#external").val("' + item.external_id + '");';
                    html += '$("#fecha").val("' + item.fecha + '");';
                    html += '$("#cliente").val("' + item.id_cliente + '");';
                    html += '$("#clas").val("' + item.clasificacion + '");';
                    html += '$("#precio").val("' + item.precio + '");';
                    html += '});';
                    html += '</scrip' + 't>';
                    if (item.clasificacion !== 'Otros') {
                        precioTotal += item.precio;
                    }
                });
                html += '<tr><td></td><td></td><td></td><td><b>TOTAL:</b></td><td><b>$ ' + precioTotal.toFixed(2) + '</b></td>';
                html += '<td><a href="#" class="btn btn-danger" onclick="cargarFactura()"><b>Regresar</b></a> </td></tr>';
                html += '</tr>';
                if (data.length === 0) {
                    html = 'No hay registros';
                }
                $("tbody").html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }
    function cargarTabla(data) {
        var html = "";
        var precioTotal = 0;
        $.each(data, function (i, item) {
            html += '<tr>';
            html += '<td>' + (i + 1) + '</td>';
            html += ' <td>' + item.fecha + '</td>';
            html += '<td>' + item.cliente.nombre + ' ' + item.cliente.apellido + '</td>';
            html += '<td>' + item.clasificacion + '</td>';
            html += '<td>$ ' + item.precio + '</td>';
            html += '<td><a href="#" id="' + i + '">Editar</a>';
            html += '<a href="#" onclick="cargarFacturaCliente(' + "'" + item.cliente.external_id + "'" + ')"><br>Ver Gastos<br></a>';
            html += '<a href="/reporte/' + item.cliente.external_id + '" class="btn btn-danger">Reporte</a> </td>';
            html += '<script>';
            html += '$("#' + i + '").click(function () {';
            html += '$("#external").val("' + item.external_id + '");';
            html += '$("#fecha").val("' + item.fecha + '");';
            html += '$("#cliente").val("' + item.id_cliente + '");';
            html += '$("#clas").val("' + item.clasificacion + '");';
            html += '$("#precio").val("' + item.precio + '");';
            html += '});';
            html += '</scrip' + 't>';
            if (item.clasificacion !== 'Otros') {
                precioTotal += item.precio;
            }
        });
        html += '<tr><td></td><td></td><td></td><td><b>TOTAL:</b></td><td><b>$ ' + precioTotal.toFixed(2) + '</b></td></td><td></tr>';
        html += '</tr>';
        if (data.length === 0) {
            html = 'No hay registros';
        }
        $("tbody").html(html);
    }
    function verificaCliente(data, id) {
        var veri = true;
        $.each(data, function (i, item) {
            if (item.cliente.id === id) {
                veri = false;

                console.log(item.cliente.id + ' ===  ' + id);
            }
        });
        return veri;
    }

    function cargarcliente() {
        $.ajax({
            url: '/lista_cliente',
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                var html = "";
                $.each(data, function (i, item) {
                    html += '<option value="' + item.id + '">' + item.nombre + ' ' + item.apellido + '</option>';
                });
                $("#cliente").html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }
</script>


